body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}

#login .container #login-row #login-column #login-box {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 600px;
  /* height: 320px; */
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #register-form {
  padding: 20px;
}

#login .container #login-row #login-column #login-box #register-form #register-link {
  margin-top: -85px;
}
#login-box {
  position: absolute;
}
#login-box .alert-success {
  position: relative;
  width: 400px;
  height: auto;
  opacity: 90%;
  top: 300px;
  left: 50px;
  display: none;
}
#login-box .alert-warning {
  /* position: relative; */
  width: 80%;
  height: auto;
  opacity: 90%;
  /* top: 300px;
  left: 50px; */
  display: none;
}
#register-form .error {
  color: #ff0000;
}